@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bagel+Fat+One&family=Lobster&family=Rubik&family=Rubik+Dirt&display=swap');*{
  box-sizing: border-box;
}
html,body{
    padding:0;
    margin:0;
    background-color: #EEEEEE;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}


div.nav {
  z-index: 2;
  background-color: rgba(14, 18, 18, 0.7); /* RGB color #0E1212 with 70% opacity */
  backdrop-filter: blur(60px);
  padding: 10px;
  width: 100%;
  text-align: right;
  opacity: 1;
  transition: top 3s ease-in-out;
}
.nav.hidden {
  top: -100px; /* Adjust the value to match the height of your navbar */
}
ul.navb {
  list-style-type: none;
  display: inline-block;
}

.nav li {
  display: inline;
  font-family: 'Montserrat', sans-serif;
  padding-right: 60px;
}

ul {
  list-style-type: none;
}

.nav-links {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  color: #000000;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.nav-links::after {
  content: "";
  position: absolute;
  background-color: #000000;
  width: 0;
  height: 3px;
  bottom: -5px; /* Adjust the value to position the line appropriately */
  left: 50%; 
  transform: translateX(-50%);
  transition: width 0.3s;
}

.nav-links:hover::after {
  width: 100%;
}  
/* Landing Page */
.Landing{
  /* background-color: #1a1c1a; */

  color: #524A4E;
  height: 150vh;
  font-family: 'Rubik', sans-serif;


}
h1.main{
  font-family: 'Rubik', sans-serif;
  position: relative;
  display: inline-block;
  top:220px;
  right: 300px;
  font-size: 70px;
}


h3.topMain{
  display: inline-block;
  position: relative;
  top:135px;
  padding-bottom: 10px;
  left:185px;
  color: #000000;
  width:500px;
  font-size: 40px;
}
h3.bottomMain{
  
  display: inline-block;
  position: relative;
  top:160px;
  padding-bottom: 10px;
  left:205px;
  color: #000000;
  width:600px;
  font-size: 30px;
  line-height: 1.5;
}
.LogoLanding{
  opacity: 80%;
  position: relative;
  float: right;
  height: 600px;
  top:0px;

}
/* Projects */



p{
  position: relative;
  display: inline;
   
  font-size: 18px;
}
.Web3{
  width: 40em;
  right:2.5em;
 
  font-family: 'Poppins', sans-serif;
}
.Portfolio{
  width: 200em;
  left: 17em;
  
}
p.Mindease{
  width: 200em;
  right:6.5em;
}




h4{
  margin-left:2em;
  padding: 10px 15px;
  display: inline-block;
  flex-basis: 30%;
  font-size: 15px;
  border-width: 10px;
  border-radius: 20%;
  border: 5px solid #682ae9;
}



section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  width: 100%;
  /* background: rgb(37,6,112);
  background: linear-gradient(0deg, rgba(37,6,112,1) 0%, rgba(0,0,18,1) 100%, rgba(0,0,0,1) 100%); */
}
.form-box{
  position: relative;
  width: 450px;
  height: 550px;
  background: #5518da25;
  display: flex;
  justify-content: center;
  align-items: center;
  left:380px;
  margin-top: 20%;
}


h2.contact{
  position: relative;
  font-size: 2em;
  color:#ffffff;
  text-align: center;
  top:-20px;
}
.input-box{
  position:relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
  top:-20px

}
.input-box label{
   position: absolute;
  top:50%;
  left:5px;
  transform: translateY(-50%);
  color: white;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
  padding-bottom: 2px;
}
input:focus~label,
input:valid~label,
.textAr:focus + label {
  top:-6px;
}
.input-box input{
  width: 100%;
  height:50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.input-box ion-icon{
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}
button{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  position: relative;
  font-size: 1em;
  font-weight: 600;
  align-items: center;
}
.textAr{
  padding-top: 10px;
  font-size: 1em;
  resize: none;
  width: 300px;
  outline:none;
  background: transparent;
  border: none;
  color: #fff;
}
.about{
  display: flex;
  position: absolute;
  background-color: #1109ffb1;
  width:720px;
  height: 550px;
  right:600px;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}
.about div{
  font-family: 'DM Sans', sans-serif;
  position: relative;
  width: 550px;
  color: #ffffff;
  font-size: 35px;
  top: 0px;
  
}
.end{
  height:150vh;
}
.rectangle{
  position: absolute;
  top:210px;
  left:180px;
  background-color: #000000;
  width: 210px;
  height: 50px;
  z-index: 2;
}
.rectangle2{
  position: absolute;
  top:280px;
  left:180px;
  background-color: #ffffff;
  width: 700px;
  height: 75px;
  z-index: 2;
}
.rectangle3{
  position: absolute;
  top:370px;
  left:180px;
  background-color: #000000;
  width: 600px;
  height: 85px;
  z-index: 2;
}
.rectangle4{
  position: absolute;
  top:465px;
  left:180px;
  background-color: #ffffff;
  width: 600px;
  height: 45px;
  z-index: 2;
}
/* .block{
  width:300px;
  height:200px;
  border-radius: 10%;
  background-color: #1c1435;
  position: absolute;
  left:900px;
} */
.heading-Aboutme{
  position: absolute;
  top:-250px;
}
.intro{
  position: absolute;
  top:-120px;
  font-size: 22px;
}

.projectsSection {
  background-color: #ffffff;
  display: inline;
  width: auto;
  margin: 0;
  height: 300vh;
}

/* .projectHead {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  position: relative;
  right:30%;
  transition: right 1s;
}
.scroll-In{
  right:0%;
}

.projectHeading {
  font-size: 100px;
} */
.projectHead {
  position: relative;
  height: 50vh;
  overflow: hidden;
}
.projectHeading {

  position: absolute;
  top: 50%;
  left: -100px; /* Initial position off-screen */
  transform: translate(0, -50%);
  font-size: 150px;
  white-space: nowrap;
  color: #000000;
  padding: 10px 20px;
}


.cover{
  height: 150vh;
  width:100vw;
  display: flex;
  margin:200px 0px;
  overflow-y: hidden;
  font-size: 25px;
  color: #000000;
}
.mockups{
  height: 120vh;
  width:50vw;
  
}

.Descr{
  display: flex;
  flex-direction: column;
  text-align: center;
  

  
}

.info{
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0 50px;
  
}


.bottom{
  height: 40vh;
  width: 100%;
  background-color: #1b1a1c;
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:10px;
  
}
.linksIcon{
  position: relative;
  top:110px;
  display: flex;
  justify-content: space-between;
  gap:100px;
}
ion-icon{
  font-size: 45px;
  color: #000000;
  transition: transform 0.5s;
}
ion-icon:hover{
  transform : translateY(-15px);
}


.copyRight {
  font-size: 14px;
  color: #666; /* Change the color as needed */
  display: block;
}

/* Other styles you might have */
.Cv{
  height: 100vh;
}
/* Add the following CSS styles to your existing styles */

.Cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.textt1,
.textt2,
.textt3 {
  color: #000000;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  
}

.rectangleoutLine {
  width: 800px; /* Take up the full width */
  height: 100px;
  border: 2px solid #1109ff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  overflow: hidden;
  position: relative;
  left:200px;
}

.rectangleoutLine:hover {
  border-color: white;
  background-color: #1109ff;
}

.firstPart {
  width: 200px;
  height: 107px;
  border: 2px solid #1109ff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: -2px;
  left: -2px;
  
}

.rectangleoutLine:hover .firstPart {
  border-color: white;
  background-color: #1109ff;
}
.rectangleoutLine:hover ion-icon{
  color: #fff;
}

.rectangleoutLine p.pdf {
  color: rgb(0, 0, 0);
  margin-left: 10px;
  letter-spacing: 5px;
  left:80px;

}

.download-link {
  text-decoration: none; /* Remove underline from the link */
  color: inherit; /* Inherit text color from parent */
}





