
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@900&display=swap');
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #e8e8e8;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  text-transform: uppercase;
  color: #0f0f0f;
}
#popupButton{
  display: none;
}

div.nav {
  z-index: 2;

  padding: 10px;
  width: 100%;
  text-align: right;
  opacity: 1;
  transition: top 3s ease-in-out;
}

.nav.hidden {
  top: -100px;
  /* Adjust the value to match the height of your navbar */
}

ul.navb {
  list-style-type: none;
  display: inline-block;
}

.nav li {
  display: inline;

  padding-right: 60px;
}

ul {
  list-style-type: none;
}

.nav-links {

  font-size: 18px;
  color: #0f0f0f;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.nav-links::after {
  content: "";
  position: absolute;
  background-color: #0f0f0f;
  width: 0;
  height: 3px;
  bottom: -5px;
  /* Adjust the value to position the line appropriately */
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s;
}

.nav-links:hover::after {
  width: 100%;
}
.mobileNav{
  display: none;
}


@media (max-width: 393px) {
  .navb{
    display: none;
  }
}

/* Landing Page */
.Landing {
  /* background-color: #1a1c1a; */
  
  height: 120vh;
  display: flex;
  flex-direction: column;
 

}




  @import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');



  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1.main {
  left: 150px;
  font-family: 'Bebas Neue', sans-serif;
  color: #2202ED;
  position: relative;
  display: inline-block;
  bottom: 40px;
  margin-top: 0;
  width: 80vw;
  border-top: 0;
  font-size: 200px;
  text-transform:uppercase;
  
 text-shadow: -6px 4px 10px rgba(255, 255, 255, 0.873);
  padding-bottom: 10px;
  /* text-transform: uppercase; */
}
.svgD{
  position: relative;
  left:150px;
}



@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

h3.topMain {

  display: inline-block;
  position: relative;
  top: 50px;
  padding-bottom: 8px;
  margin-bottom: 50px;
  left: 150px;
 
  width: 500px;
  font-size: 20px;
}

h3.bottomMain{
  display: inline-block;
  position: relative;
  bottom: 20px;
  left: 500px;
  text-align: end;
  width: 600px;
  font-size: 20px;
  line-height: 1.5;

}

.rectangle {
  position: absolute;
  top: 215px;
  left: 180px;
  background-color: #000000;
  width: 250px;
  height: 50px;
  z-index: 2;
}

.rectangle2 {
  position: absolute;
  top: 288px;
  left: 180px;
  background-color: #ffffff;
  width: 720px;
  height: 100px;
  z-index: 2;
}

.rectangle3 {
  position: absolute;
  top: 413px;
  left: 180px;
  background-color: #000000;
  width: 800px;
  height: 105px;
  z-index: 2;
}

.rectangle4 {
  position: absolute;
  top: 528px;
  left: 180px;
  background-color: #ffffff;
  width: 600px;
  height: 45px;
  z-index: 2;
}

.projectsSection {
  border-radius: 30px;
  width: auto;
  margin: 0;
  height: 430vh;
  position: relative;
  background-color: rgba(189, 189, 189, 0.24); /* Adjust the opacity value (0.0 to 1.0) */
  background-image: url('/Images/projectBack2.jpg');
  background-size: auto 3200px;
  background-position: auto 50px;
  background-repeat: no-repeat;
}




.projectHead {
  position: relative;
  height: 50vh;
  overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Playfair+Display:wght@700&family=Sedgwick+Ave+Display&display=swap');

.projectHeading {

  
  /* Specify the font family and font fallback */
  font-weight: bold;

  position: absolute;
  top: 15%;
  left: -100px;
  /* Initial position off-screen */
  transform: translate(0, -50%);
  font-size: 200px;
  white-space: nowrap;
  color: #0e36ff;
  /* padding: 10px 20px; */
  text-shadow: -6px 4px 10px rgba(0, 0, 0, 0.604);
}



.btns {
  position: relative;
  display: flex;
  top: 20%;
  justify-content: center;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.btn {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: hsl(0, 0%, 100%);
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  margin: 10px;
}
.react{
  width: 50px;
  height: 50px;
}
.btn i {
  line-height: 50px;
  font-size: 80px;
  transition: 0.2s linear;
}

.btn-1 {
  color: #e34c26;
}

.btn-1::before {
  background-color: #e34c26;
}

.btn-2 {
  color: #264de4;
}

.btn-2::before {
  background-color: #264de4;
}

.btn-3 {
  color: #eace1d;
}

.btn-3::before {
  background-color: #eace1d;
}

.btn-4 {
  color: #cc6799;
}

.btn-4::before {
  background-color: #cc6799;
}

.btn-5 {
  color: #3c873a;
}

.btn-5::before {
  background-color: #3c873a;
}

/* .btn:hover i {
  transform: scale(1.5);
  color: #fff;
} */

/* .btn::before {
  content: '';
  position: absolute;
  width: 150%;
  height: 170%;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
  transition: 0.5s linear;
} */

/* .btn:hover::before {
  animation: hover 0.7s;
  top: -10%;
  left: -10%;
  transition: 0.5s linear;
} */

@keyframes hover {
  0% {
    left: -110%;
    top: 90%;
  }

  100% {
    left: 10%;
    top: -30%;
  }

  100% {
    top: -10%;
    left: -10%;
  }
}
.photos{
  display: none;
}
.infoBullet {
  list-style-type: disc;
}

.infoBullet li {
  margin-bottom: 10px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  
}




.skills {
 
  display: flex;
  width: 100vw;
  height: 140vh;
  align-items: center;
  justify-content: center;

}

.SkillHeading {
  font-size: 200px;
  /* Adjust the font size as needed */
  
  /* Specify the font family and font fallback */
  font-weight: bold;
  /* Specify the font weight as "Heavy" */
  text-shadow: -6px 4px 10px rgba(0, 0, 0, 0.604);
  position: relative;
  left: 70%;
  bottom: 900px;
  color: #0e36ff;
  margin-top: 0;
  margin-bottom: 0;
}

.column {
  display: flex;
  font-size: 40px;
  flex-basis: spacearound;
  align-items: center;
  justify-content: center;
  flex-basis: 40%;
  /* Each box will take up 50% of the available space */
  flex-grow: 0;
  /* Prevent boxes from growing beyond 50% */
  flex-shrink: 0;
  /* Prevent boxes from shrinking below 50% */
  height: 100px;
  /* Adjust the height as needed */
  box-sizing: border-box;
  padding-right: 10%;
}

.form-box {
  position: relative;
  width: 90%;
  height: 110vh;
  background: #151515;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 6px 10px 20px rgba(0, 0, 0, 0.604);
  overflow: hidden;
  border-radius: 20px;
}

.form-value{
  position: relative;
  left:110%;
  bottom: 20%;
  height: 150%;
  border-radius: 20px;
}


.input-box {
  position: relative;
  margin: 30px 0;
  width: 380px;
  border-bottom: 2px solid #fff;
  top: -20px
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: white;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
  padding-bottom: 2px;
}

input:focus~label,
input:valid~label,
.textAr:focus+label {
  top: -6px;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.input-box ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}

.btnS {
  width: 50%;
  height: 60px;
  border-radius: 40px;
  background: #0e36ff;
  color: #fff;
  border: none;
  outline: none;
  position: relative;
  top:40px;
  left:150px;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
}

.textAr {
  padding-top: 10px;
  font-size: 1em;
  resize: none;
  width: 300px;
  outline: none;
  background: transparent;
  border: none;
  color: #fff;
}

.about {
  display: flex;
  position: absolute;
  background-color: #1e1e1e;
  width: 800px;
  height: 500px;
  right: 520px;
  align-items: center;
  justify-content: center;
  bottom: 5%;
  box-shadow: 6px 10px 20px rgba(0, 0, 0, 0.604);
 
  border-radius: 20px;
}

.about div {
  
  position: relative;
  width: 80%;
  color: #ffffff;
 
  top: 0px;

}

.end {
  height: 120vh;
  display: flex;
  align-items: center;
}



.heading-Aboutme {
  position: absolute;
  font-size: 40px;
  top: -250px;
  left: 5px;
  color: #0e36ff;
}

.intro {
  position: absolute;
  top: -150px;
  font-size: 20px;
}




.bottom {
  height: 40vh;
  width: 100%;
  background-color: #000000;
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

}

.linksIcon {
  position: relative;
  top: 110px;
  display: flex;
  justify-content: space-between;
  gap: 200px;
}

ion-icon {
  font-size: 60px;
  color: #ffffff;
  transition: transform 0.5s;
}

ion-icon:hover {
  transform: translateY(-15px);
}


.copyRight {
  font-size: 20px;
  color: #666666;
  /* Change the color as needed */
  display: block;
}
.firstProject{
  display: flex;
  flex-direction: row;
}

.circles{
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 135vh;
  overflow: hidden;
}

@keyframes animate{
  0% {
    opacity: 1;
    border-radius: 0;
    transform: translateY(0) rotate(0deg);
  }
  100%{
    opacity: 0;
    border-radius: 50%;
    transform: translateY(-1000px) rotate(720deg);
  }
}
.circles div{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background:#2202ED;
  bottom: -150px;
  animation: animate 25s linear infinite;
}
.circles div:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles div:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles div:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles div:nth-child(4){
  left: 90%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles div:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  
}
.circles div:nth-child(6){
  left: 75%;
  width: 100px;
  height: 110px;
  animation-delay: 3s;
  
}
.circles div:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
  
}
.circles div:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles div:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles div:nth-child(10){
  left: 85%;
  width: 20px;
  height: 20px;
  animation-delay: 7s;
 
}



.KAM {
  position: absolute;
  display: inline-block;
  left: 45%;
  top: 160%;
  z-index: 10;
  white-space: pre-line;
  width:900px;
  font-size: 20px;
  color: #f0f0f0;
  
}
.KAM2 {
  position: absolute;
  display: inline-block;
  right: 25%;
  top: 710%;
  z-index: 10;
  white-space: pre-line;
  width:1000px;
  font-size: 20px;
 
}

.boundary {
  position: relative;
  display: block;
  margin: 0 auto; /* Center horizontally */
  width: 70%;
  height: 2px;
  background: #161616;
  z-index: 60;
  border-radius: 10px; /* Adjust the value for rounded corners */
}

.img1{
  flex:1;
  display: inline-block;
  height: 80%;
  width: 100%;
  position: relative;
  top:10%;
  border: auto;
  z-index: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.proj{
  height: 130vh;
  width: 100vw;
  background: #000000;
  color:#dfdfdf;
  border-radius: 50px;
  box-shadow: 6px 10px 20px rgba(0, 0, 0, 0.604);
}
#fold1{
  width:800px;
  height: 500px;
  position: relative;
  left:30%;
  top: 200%;
  overflow: hidden;
  
}
#fold2{
  width:800px;
  z-index: 2;
  position: relative;
  right: 5%;
  top: 200%;
  height: 500px;
  overflow: hidden;
}

.container{
  display: flex;
  flex-direction: column;
}

.front{
  
  position: absolute;
  top: 610%;
  left:5%;
  width: 300px;
  height: 300px;
  opacity: 0.5;
}
.back{
  position: absolute;
  
  top: 675%;
  right:2%;
  width: 300px;
  height: 300px;
  opacity: 0.5;
}
.firstP{
  width: 60vw;
  height: 135vh;
  position: relative;
  left:8%;
  top:5%;
}
.secondP{
  width: 50vw;
  height: 110vh;
  position: relative;
  left:46%;
  top:11%;
  background-color: #0578FF;
}
.thirdP{
  width: 35vw;
  height: 90vh;
  position: relative;
  left:5%;
  top:5%;
}

.outlined-text {
  z-index: 8;
  position: absolute;
  bottom: 85%;
  right:77%;
  font-size: 210px;
  font-weight: bold;
  color: #ffffff; /* Text color */
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000000, -2px 2px 0 #000, 2px 2px 0 #000; /* Outline */
  transition:  0.5s ease; /* Smooth transition on hover */
}
.two{
  font-size: 200px;
  right:3%;
  
}
.three{
  font-size: 150px;
  right:60%;
}

.firstP:hover {
  .one{
  text-shadow: none; /* Remove outline on hover */
  color:#0e36ff;
  }
}
.secondP:hover{
  .two{
    text-shadow: none; /* Remove outline on hover */
    color:#0e36ff;
    }
}
.thirdP:hover{
  .three{
    text-shadow: none; /* Remove outline on hover */
    color:#0e36ff;
    }
}
.projT{
  flex: 1;
  color: #fff;
  font-size: 80px;
  position: relative;
  bottom: 80px;
  right:165px;
}
.projT2{
  padding-top: 10px;
  margin-top: 60px;
  font-size: 60px;
  right:10px;
  bottom: 70px;
}
.projT3{
  font-size: 40px;
  right:120px;
  bottom: 30px;
}
.detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.projInfo{
  font-size: 20px;
  width: 80%;
  position: relative;
  bottom: 180px;
  right:0px;
  font-weight: 100;
  color: #f0f0f0;
  
}
.projInfo2{
  font-size: 18px;
  bottom: 150px;
  color: #f0f0f0;
}
.projInfo3{
  font-size: 15px;
  bottom: 80px;
  color: #ffffff;
}

.btnn{
  width:50px;
  height: 50px;

}
.btnnn{
  width:40px;
  height: 40px;

}

.stack{
  display: flex;
  flex-direction: row;
  gap: 35px;
  position: relative;
  right: 230px;
  bottom: 165px;
  z-index: 4;
}
.stk2{
  gap: 35px;
  right:170px;
  bottom: 140px;
}
.stk3{
  right:150px;
  bottom: 70px;
  gap: 30px;
}

.lik{
  display: flex;
  flex-direction: row;
  gap: 30px;
  position: relative;
  right: 300px;
  bottom: 100px;
}
/* button{
  border: 2px solid #2f00ff;
} */
.srcc{
  width:150px;
  height: 60px;
  position: relative;
  bottom: 30px;
  border-radius: 20px;
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  border:2px solid #fff;
  left:5px;
}

.b2{
  width: 140px;
  height: 60px;
  bottom: 8px;
  background-color: #0578FF;
  left:70px;
}
.b3{
  width: 120px;
  height: 50px;
  top:50px;
  left:145px;
  font-size: 15px;
}

.cont{
  background-color: #000000;
  color: #fff;
  border-radius: 20px;
}
.vertical-dotted-line {
  position: absolute;
  top:0px;
  left:100px;
  border: none;
  border-left: 4px dotted #555555; /* Adjust thickness and color as needed */
  height: 800vh;
  width: 10px; /* Adjust the height of the dotted line */
}

.t2{
  left:600px;
}

.arr {
  font-size: 80px;
  position: absolute;
  transform: rotate(315deg); /* remove the quotes around 45deg */
  left: 85%;
  font-weight: 600;
  top:91%;
  background-color: #3c873a;
  color: #ffffff;
}
.a2{
  font-size: 80px;
  color: #ffffff;
  top:90%;
}
.a3{
  font-size: 60px;
  color: #ffffff;
  top:93%;
}
.moving-text {
  display: inline-block;
  font-size: 170px;
  color: #f0f0f0;
  position: relative;
  bottom: 110px;
  /* animation: moveText 10s linear infinite; */
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}
.content{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.circ{
  border-radius: 50%;
  background-color: #0e36ff;
  width:100px;
  height: 100px;
  position: absolute;
  top:80px;
  left: 100px;
  display: flex;
  align-items: center;
}
.c2{
  left:1150px;
}
.contact{
  display: flex;
  flex-direction: row;
}
.left{
  position: relative;
  left:25px;
  color: #fff;
}
.right{
  position: relative;
  left:25px;
  color: #fff;
}
@keyframes lineAn{
  to{
    stroke-dashoffset: 0;
  }
}
@keyframes fill{
  from{
    fill: transparent;
  }
  to{
    fill:#2202ED;
  }
}
#logo{
  font-family: 'Bebas Neue', sans-serif;;
  animation: fill 1.2s ease forwards 3s;
  font-weight: 400;
}
#logo path:nth-child(1){
  stroke-dasharray: 362.32;
  stroke-dashoffset: 362.32;
  animation: lineAn 5s ease forwards 2s;
}
#logo path:nth-child(2){
  stroke-dasharray: 982.37;
  stroke-dashoffset: 982.37;
  animation: lineAn 5s ease forwards 1.8s;
}
#logo path:nth-child(3){
  stroke-dasharray:1299.14;
  stroke-dashoffset: 1299.14;
  animation: lineAn 5s ease forwards 1.5s;
}
#logo path:nth-child(4){
  stroke-dasharray: 2009.11;
  stroke-dashoffset:2009.11;
  animation: lineAn 5s ease forwards 1.2s;
}
#logo path:nth-child(5){
  stroke-dasharray:1497.77;
  stroke-dashoffset:1497.77;
  animation: lineAn 5s ease forwards 0.9s;
}
#logo path:nth-child(6){
  stroke-dasharray:733.54;
  stroke-dashoffset:733.54;
  animation: lineAn 5s ease forwards 0.6s;
}
#logo path:nth-child(7){
  stroke-dasharray: 1299.14;
  stroke-dashoffset:1299.14;
  animation: lineAn 5s ease forwards 0.3s; 
}
#logo path:nth-child(8){
  stroke-dasharray: 985.17;
  stroke-dashoffset: 985.17;
  animation: lineAn 5s ease forwards;
}
#logo path:nth-child(9){
  stroke-dasharray: 1498.66;
  stroke-dashoffset:1498.66; 
  animation: lineAn 5s ease forwards 1.8s;
}
#logo path:nth-child(10){
  stroke-dasharray: 1300.3;
  stroke-dashoffset: 1300.3;
  animation: lineAn 5s ease forwards 1.5s;
}
#logo path:nth-child(11){
  stroke-dasharray: 1493.89;
  stroke-dashoffset: 1493.89;
  animation: lineAn 5s ease forwards 1.2s;
}
#logo path:nth-child(12){
  stroke-dasharray:1299.14;
  stroke-dashoffset: 1299.14;
  animation: lineAn 5s ease forwards 0.9s;
}
#logo path:nth-child(13){
  stroke-dasharray: 1273.45;
  stroke-dashoffset: 1273.45;
  animation: lineAn 5s ease forwards 0.6s;
}
#logo path:nth-child(14){
  stroke-dasharray:733.54;
  stroke-dashoffset: 733.54;
  animation: lineAn 5s ease forwards 0.3s;
}

#logo path:nth-child(15){
  stroke-dasharray:1418.68;
  stroke-dashoffset:1418.68;
  animation: lineAn 5s ease forwards;
}

.fronttt {
  position: absolute;
  top: 645vh;
  color: #dfdfdf;
  z-index: 3;
  left:370px;
  text-align: end;
}
.backk {
  position: absolute;
  top: 625vh;
  color: #ffffff;
  z-index: 3;
  left:900px;
}
.textF{
  position: absolute;
  width:10px;
  font-size:150px;
  color:#0578FF ;
  top:625vh;
  z-index: 2;
  text-align: end;
}
.textB{
  position: absolute;
  width:10px;
  font-size:150px;
  color:#000000 ;
  top:668vh;
  right:12%;
  z-index: 3;
  text-align: end;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
body.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

body.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

body.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

body.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  display: none; /* Added display: none; */
}

.no-js #loader-wrapper {
  display: none;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #16a085;
  animation: spin 1.7s linear infinite;
  z-index: 11;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  animation: spin-reverse .6s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}
